<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/insert">Insert</a>
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        {% for e in data%}
        <tr>
            <td>{{e.getId()}}</td>
            <td>{{e.getName()}}</td>
            <td>{{e.getPhone()}}</td>
            <td><a href="/delete?id={{e.getId()}}">Delete</a></td>\
            <td><a href="/update?id={{e.getId()}}">Update</a></td>
        </tr>
    {% endfor%}
    </table>
    
</body>
</html>