<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>

    <title>Document</title>
</head>
<body>
    <button type="button" class="btn btn-success"><a href="/insert">Insert</a></button>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for e in data%}
        <tr>
            <th scope="row">{{e.getId()}}</th>
            <td>{{e.getName()}}</td>
            <td>{{e.getPhone()}}</td>
            <td><button type="button" class="btn btn-danger"><a href="/delete?id={{e.getId()}}" class="de">Delete</a></button>
                <button type="button" class="btn btn-primary"><a href="/update?id={{e.getId()}}" class="up">Update</a></button></td>
        </tr>
        {% endfor%}
    </table>
    </tbody>
</body>
</html>